
.w3-sidebar {
	width: 6.15vw;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

/* Remove margins from "page content" on small screens */

#main{
	overflow:hidden;
}

.profile_pic {
    border-radius:50%;
    width:20vw;
    margin-left:70vw;
    margin-top:7vh;
    margin-bottom: 30vh;
  	visibility: hidden;
}

.profile_pic1 {
   border-radius:50%;
   width:20vw;
   position:absolute;
   margin-top:-95vh;
   margin-left:70vw;
}

.div1{
	background-image: url("images/abc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top:-2vh;
	margin-left: 4.5vw;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:101vh;
	min-height:101vh;
	width:93.75vw;
	height:101vh;
	overflow: hidden
}

.icons{
	color:white;
	font-size: 1.5vw;
	padding-right: -2vw;
	padding-left:-2vw;
}

.navname{
	padding-right: -2vw;
	padding-left:-2vw;
	font-size:1vw;
}

#name{
	color: white;
	margin-top: -19vh;
	margin-left: 16vw;
	font-family:'Allura';
	position:absolute;
	font-size: 6.5vw;
	opacity:1;
	font-style: bold;
}

#downarrow{
	position:absolute;
	margin-top: -15vh;
	margin-left:23.5vw;
	height:7.5vh;
	width:4vw;
	color:white;
}

#snow1{
	opacity:0.3;
	position:absolute;
	width: 65vw;
	max-width: 65vw;
	min-width: 65vw;
	height:98vh;
	max-height:98vh;
	min-height:98vh;
	margin-left:4.5vw;
}

#snow2{
	opacity:0.3;
	position:absolute;
	width: 65vw;
	max-width: 65vw;
	min-width: 65vw;
	height:98vh;
	max-height:98vh;
	min-height:98vh;
	margin-left:33vw;
}

#quote1a{
	margin-top: -52.5vh;
	font-size: 3.2vw;
	position:absolute;
	font-family: 'Allura';
	margin-left: 7vw;
	animation-iteration-count: infinite;
}


#strip{
	opacity:0.4;
	background: black;
	position: absolute;
	height: 102.5vh;
	max-height: 102.5vh;
	min-height: 102.5vh;
	margin-top: -102.25vh;
	margin-left:4.5vw;
	width:93.75vw;
	max-width:93.75vw;
	min-width:93.75vw;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur121.cur),auto;
}

#strip2{
	opacity:0.6;
	background: black;
	position: absolute;
	height:18vh;
	margin-top: -18vh;
	margin-left:4.5vw;
	width:93.5vw;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur121.cur),auto;
}

.quote {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */

   -webkit-animation: typing 6.5s steps(70, end), step-end infinite;
  -moz-animation: typing 6.5s steps(70, end), step-end infinite;
  -ms-animation: typing 6.5s steps(70, end), step-end infinite;
  -0-animation: typing 6.5s steps(70, end), step-end infinite;
  animation: typing 6.5s steps(70, end), step-end infinite;
}

.social_icons{
	color:white;
}
#linkedin {
	color:white;
	font-size: 2vw;
	padding-right: -2vw;
	padding-left:-2vw;
	margin-top:22vh;
	margin-left:-0.5vw;
}

#fb {
	color:white;
	margin-top: 3vh;
	font-size: 2vw;
	padding-right: -2vw;
	padding-left:-2vw;
	margin-left:-0.5vw;
}

#insta {
	color:white;
	font-size: 2vw;
	margin-top: 3vh;
	padding-right: -2vw;
	padding-left:-2vw;
	margin-left:-0.5vw;
}

#twitter {
	color:white;
	font-size: 2vw;
	margin-top: 3vh;
	padding-right: -2vw;
	padding-left:-2vw;
	margin-left:-0.5vw;
}

#medium{
	color:white;
	font-size: 2vw;
	margin-top: 3vh;
	padding-right: -2vw;
	padding-left:-2vw;
	margin-left:-0.5vw;
}

.booksection {
	overflow:hidden;
	background: white;
	margin-top: 0vh;
	margin-left: 4.5vw;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:82vh;
	min-height:82vh;
	width:93.75vw;
	height:82vh;
	position:absolute;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur220.cur),auto;
}

#book_description {
	color: #4d4d4d;
	margin-left:32vw;
	margin-top:6.5vh;
	position: absolute;
	font-family:'Raleway';
	font-size: 3vw;
	font-style: bold; 
}

#horline{
	position: absolute;
	border-bottom: 4px solid #4493F1;
	width:10vw;
	height:22vh;
	margin-left: 42vw;
	margin-top: -5vh;
}


#about_book{
	color: #4d4d4d;
	margin-left:48.7vw;
	margin-top:20vh;
	margin-right: 9vw;
	position: absolute;
	font-family:'Raleway';
	font-size: 1.4vw;
}

#about_book_2{
	color: #4d4d4d;
	margin-left:48.7vw;
	margin-top:35vh;
	margin-right: 9vw;
	position: absolute;
	font-family:'Raleway';
	font-size: 1.4vw;
}


.ordernow{
  color: #4d4d4d;
  margin-left:48.7vw;
  margin-top:56.5vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.5vw;
  font-style: bold;
  padding-right: 2%;
  padding-left:2%; 
  padding-top:1%; 
  padding-bottom:1%;
}

#ordernowText{
	font-style: bold;
}

#BuyAtAmazon{
	height:10vh;
	width:15vw;
	position: absolute;
	margin-top: 55vh;
	margin-left: 70vw;
}

.animationsection {
	overflow:hidden;
	background: black;
	margin-left: 4.5vw;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:82vh;
	min-height:82vh;
	width:93.75vw;
	height:82vh;
	position:absolute;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur220.cur),auto;
}

#view_cv{
	position: absolute;
	margin-top: 55vh;
	margin-left:22vw;
	font-size: 1.5vw;
	font-style: bold;
	font-family: Raleway;
	padding-right: 6.5%;
	padding-left:6.5%;
	padding-top:0.75%;
	padding-bottom:0.75%;
}

#view_certificates{
	position: absolute;
	margin-top: 55vh;
	margin-left:50vw;
	font-size: 1.5vw;
	font-style: bold;
	font-family: Raleway;
	padding-right: 2%;
	padding-left:2%;
	padding-top:0.75%;
	padding-bottom:0.75%;
}

#career {
	color: white;
	margin-top:2vh;
	font-family:'Raleway';
	font-size: 3vw;
}


.makeyourcv {
	background: #bbb;
	margin-top: 164vh;
	margin-left: 4.5vw;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:82vh;
	min-height:82vh;
	width:93.75vw;
	height:82vh;
	position: absolute;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur220.cur),auto;
}

#getCvText {
	color: white;
	margin-left:32vw;
	margin-top:-80vh;
	position: absolute;
	font-family:'Raleway';
	font-size: 3vw;
	font-style: bold;
}


.aboutMeDiv{
	background: white;
	margin-left: 4.5vw;
	margin-top: 82vh;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:82vh;
	min-height:82vh;
	width:93.75vw;
	height:82vh;
	position: absolute;
	overflow: hidden;
}

#aboutAngz{	
	color: black;
	margin-left:38vw;
	margin-top:2vh;
	position: absolute;
	font-family:'Raleway';
	font-size: 3vw;
	font-style: bold; 
}

#LIbadge{
	margin-left: 65vw;
	margin-top:22vh;
	position: absolute;
}

#descAbout{
	color: black;
	margin-top: 20vh;
	font-family: 'Raleway';
	position:absolute;
	margin-left: 5vw;
	font-size: 1.5vw; 

}

#aboutPara1{
	font-size: 3vw;
}

#aboutPara2{
	font-size: 1.5vw;
	margin-right: 30vw;
	margin-top: 4vh;
}

#aboutPara3{
	font-size: 1.5vw;
	margin-right: 42.5vw;
	margin-top: 4vh;
}

.readAboutMore{
	margin-top: 65vh;
	margin-left: 40vw;
}

.parallax{
	background-image: url("images/resumepic.jpg");
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	margin-top: 164vh;
	margin-left: 4.5vw;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:82vh;
	min-height:82vh;
	width:93.75vw;
	height:82vh;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur220.cur),auto;
}

#belowParallax{
	margin-top:-25vh;
	margin-left:4.5vw;
	height:25vh; 
	width: 93.75vw; 
	background: #000000;
}

#strip3{
	height:59vh; 
	margin-top: -82vh; 
	margin-left: 4.5vw; 
	width: 93.75vw; 
	background: black; 
	opacity: 0.4; 
	position: absolute
}

#manyResumes{
	height:55vh;
	width:60vw; 
	position: absolute;
	margin-top: -46vh; 
	margin-left: 20vw;
}

#getNowBtn{
  color: #4d4d4d;
  margin-left:42vw;
  margin-top:-54vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.5vw;
  font-style: bold;
  padding-right: 2%;
  padding-left:2%; 
  padding-top:1%; 
  padding-bottom:1%
}

#getNowText{
	font-style: bold;
}

#textGetCv1{
  color: white;
  margin-left:8vw;
  margin-top:-70vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.5vw;
}

#textGetCv2{
  color: white;
  margin-left:8vw;
  margin-top:-65vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.5vw;
}

#textGetCv3{
  color: white;
  margin-left:8vw;
  margin-top:-60vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.5vw;
}

#textGetCv4{
  color: white;
  margin-left:60vw;
  margin-top:-67vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.2vw;
  font-style:bold;
  font-style:italic;
}

#textGetCv5{
  color: white;
  margin-left:60vw;
  margin-top:-72vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.2vw;
  font-style:italic;
}

#textGetCv6{
  color: white;
  margin-left:60vw;
  margin-top:-63vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.2vw;
  font-style:bold;
  font-style:italic;
}

#textGetCv7{
  color: white;
  margin-left:60vw;
  margin-top:-59vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.2vw;
  font-style:bold;
  font-style:italic;
}

#textGetCv8{
  color: white;
  margin-left:60vw;
  margin-top:-54vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.2vw;
  font-style:bold;
  font-style:italic;
}

#textGetCv9{
 color: white;
  margin-left:60vw;
  margin-top:-46vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.2vw;
  font-style:bold;
  font-style:italic;
}
ul{
	 list-style-type: circle;
}
/* Styles for medium  blogs division */
.mediumblogs{
background: #000000;
margin-left: 4.5vw;
margin-top: 82vh;
max-width:93.75vw;
min-width:93.75vw;
max-height:82vh;
min-height:82vh;
width:93.75vw;
height:82vh;
position: absolute;
overflow: hidden;
}

#write-ups{
	color: white;
	margin-top:2vh;
	font-family:'Raleway';
	font-size: 3vw;
}

#medium_pic1{
	height:28vh;
	width:55%;
	margin-left: 23%;
}

#medium_pic2{
	height:28vh;
	width:55%;
	margin-left: 23%;
}


.mediumlinks{
	text-decoration:none;
	color:black;
}

.mediumlinks:hover{
	text-decoration:none;
	color:black;
}


#title1{
	font-size:160%;
	font-style: bold;
}

#title2{
	font-size:160%;
	font-style: bold;
}

.writings{
	font-family: Raleway;
	font-size: 1.14vw;
	margin-top: 3vh;
}

.readFull{
	font-family: Raleway;
	font-size: 1.14vw;
	margin-top: 3vh;
	color:blue;
}

#mediumCard1{
	background:white;
	width:100%;
	margin-top: 1vh;
	height:70vh;
	overflow: hidden;
	padding-top:2%;
}
#mediumCard2{
	background:white;
	width:100%;
	margin-top: 1vh;
	height:70vh;
	overflow: hidden;
	padding-top:2%;
}

.readMore{
  color: #4d4d4d;
  margin-left:70vw;
  margin-top: -8vh;
  position: absolute;
  font-family:'Raleway';
  font-size: 1.5vw;
  font-style: bold;
  padding-right: 2%;
  padding-left:2%;
  padding-top:1%; 
  padding-bottom:1%
}

#readMoreText{
	font-style: bold;
}
a {
  color: inherit;
  text-decoration: none;
}

.certificates_home{
background: #000000;
margin-left: 6.25vw;
max-width:93.75vw;
min-width:93.75vw;
width:93.75vw;
overflow: hidden;
position: absolute;
}

.cerTopics{
	color: white;
	font-family:'Raleway';
	font-size: 1.8vw;
	padding: 2vh
}

.WRcertificate{
	font-size:1.4vw;
	font-style: bold;
	color:white;
	height:8vh;
}

.cerNames{
	padding-top: 2vh;
	padding-bottom: 2vh; 
}

.certificate_pics{
	width:100%;
	height:68vh;
}


#scroll { white-space: nowrap; overflow-y: scroll; }


.frame {
    overflow-y: auto;
    border: 1px solid #bbb;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
    width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 11px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.mediumlinks{
  text-decoration: none;
}

.readFull{
	font-family: Raleway;
	font-size: 1.14vw;
	margin-top: 3vh;
	color:blue;
}

#contactMe{
	background-image: url("images/contactMeBack.jpg");
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	overflow:hidden;
	margin-top: 164vh;
	margin-left: 6.5vw;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:82vh;
	min-height:82vh;
	width:93.75vw;
	height:82vh;
	position:absolute;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur220.cur),auto;
}

#strip4{
	height:82vh;
	width: 93.75vw;
	background:black;
	opacity: 0.7;
	position: absolute;
}

#contactText{
	color: white;
	margin-left:36vw;
	position: absolute;
	font-family:'Raleway';
	font-size: 3vw;
	font-style: bold;
}


#linkedin2 {
	color:white;
	font-size: 2vw;
	margin-top:72vh;
	margin-left:36.25vw;
	position: absolute;
}

#fb2 {
	color:white;
	margin-top:72vh;
	font-size: 2vw;
	margin-left:42.5vw;
	position: absolute;
}

#insta2 {
	color:white;
	font-size: 2vw;
	margin-top:72vh;
	margin-left:48.25vw;
	position: absolute;
}

#twitter2 {
	color:white;
	font-size: 2vw;
	margin-top:72vh;
	margin-left:54.25vw;
	position: absolute;
}

.arrow-down { 
  border-left: 46.875vw solid transparent;
  border-right: 46.875vw solid transparent;
  border-top: 60vh solid black;
  opacity: 0.6;
  position:absolute;
}


#iimMail{
	color: white;
	margin-top:20vh;
	margin-left: 24.5vw;
	position: absolute;
	font-family:'Allura';
	font-size: 3.5vw;
	font-style: bold;
}

/*ABOUT ME PAGE STYLES */
#comingSoon{
	margin-top: 40vh;
	font-family: 'Raleway';
	font-size: 3vw;
}


/* The typing effect */
/*@keyframes typing {
  from { width: 0 }
  to { width: 90vw }
}
*/
@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 91vw}
}

@-moz-keyframes typing {
  from { width: 0 }
  to { width: 91vw}
}

@-ms-keyframes typing {
  from { width: 0 }
  to { width: 91vw }
}

@-o-keyframes typing {
  from { width: 0 }
  to { width: 91vw }
}


@media only screen and (max-width: 600px) {#main {margin-left: 0}}